[submodule "AtlassianProducts/atlassian-versions"]
	path = AtlassianProducts/atlassian-versions
	url = https://bitbucket.org/wkennedy/atlassian-versions
	branch = master
[submodule "Infrastructure/avva"]
	path = Infrastructure/avva
	url = https://bitbucket.org/wkennedy/avva
	branch = master
[submodule "Libraries/jira"]
	path = Libraries/jira
	url = https://github.com/pycontribs/jira
	branch = master
[submodule "Tools/super-productivity"]
	path = Tools/super-productivity
	url = https://github.com/johannesjo/super-productivity
	branch = master
[submodule "Tools/jira"]
	path = Tools/jira
	url = https://github.com/go-jira/jira
	branch = master
[submodule "Cloud/one-offs"]
	path = Cloud/one-offs
	url = https://bitbucket.org/atlasauthority/one-offs
	branch = master
[submodule "Scripting/groovy-script-console"]
	path = Scripting/groovy-script-console
	url = https://bitbucket.org/fhess/groovy-script-console/
	branch = master
[submodule "Infrastructure/puppet-jira"]
	path = Infrastructure/puppet-jira
	url = https://github.com/voxpupuli/puppet-jira
	branch = master
[submodule "Infrastructure/docker-atlassian-jira"]
	path = Infrastructure/docker-atlassian-jira
	url = https://github.com/cptactionhank/docker-atlassian-jira
	branch = master
[submodule "Cloud/automatic-cloud-backup"]
	path = Cloud/automatic-cloud-backup
	url = https://bitbucket.org/atlassianlabs/automatic-cloud-backup
