# Installed by Ansible
jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://{{confluence_db_host}}:5432/{{confluence_db}}
jdbc.user={{confluence_db_user}}
jdbc.password={{confluence_db_passwd}}
