[Unit]
Description=Atlassian Jira 
After=network-online.target

[Service]
User={{jira_user}}
Group={{jira_user}}

ExecStart={{jira_base}}/current/bin/start-jira.sh
Environment=JIRA_HOME={{jira_home}} {% if jira_setup %} JAVA_OPTS=-Datlassian.dev.mode=true {% endif %}


[Install]
WantedBy=multi-user.target
