[Unit]
Description=Atlassian Crowd
After=network-online.target
After=postgresql.service
Requires=postgresql.service

[Service]
User={{crowd_user}}
Group={{crowd_user}}

ExecStart={{crowd_base}}/current/start_crowd.sh
Environment=CROWD_HOME={{crowd_home}} {% if crowd_setup %} JAVA_OPTS=-Datlassian.dev.mode=true {% endif %}


[Install]
WantedBy=multi-user.target
